/var/www/var/generation
/var/www/var/page_cache
/var/www/var/page_cache
/var/www/var/di
/var/www/var/log
/var/www/var/composer_home/cache
/var/www/var/report
/var/www/var/session
/var/www/var/cache
/var/www/var/backup
